$baseDark: #1d3547;
$baseLight: #fff;
$theme: #00a05f;
$dark: #111;
$white: rgb(255, 254, 254);
$light: #ddd;
$lightTheme: lighten($color: $theme, $amount: 5);
$darkTheme: darken($color: $theme, $amount: 6);
$highIndex: 999999999;
$lowIndex: 999;
$dark2: #091015;
:root {
    --theme: #{$theme};
}

%flex {
    display: flex;
    flex-direction: column;
}