//------------ starting from mobile view
@import "./var";
@import "./mediaQuery";

body {
    margin: 0;
    position: relative;
    .css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
        z-index: $highIndex;
    }
    div {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
//----------------
#root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    height: fit-content;

    .App {
        background: $baseLight;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        // min-height: 100vh;
        //----
        .app-logo {
            width: 200px;
        }
        .bg-white {
            background-color: white;
        }

        .title {
            font-size: 30px;
            margin-bottom: 4px;

            @include media(">tablet") {
                font-size: 50px;
            }
        }
        .app-section {
            padding: 4rem 0;
            z-index: 999;
            position: relative;
            background-color: $baseDark;

            &.desc-section {
                .sub-title {
                    margin: 0;
                }
            }

            img.illus-image {
                width: 95%;
                border-radius: 50px !important;

                margin-top: 2rem;
            }
            .titleBox {
                h1 {
                    margin: 10px 0;
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.6;
                    padding-right: 1rem;
                }
                @include media(">tablet") {
                    h1 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
        .mr-auto {
            margin-right: auto;
        }

        .ml-auto {
            margin-left: auto;
        }

        .ml-lg-auto {
            @include media(">monitor") {
                margin-left: auto;
            }
        }

        .app-contact {
            flex-grow: 1;
            overflow: visible;
            background-color: $baseLight;
            .contact-container {
                background-color: $baseLight;
                padding: 1rem 0;
                * {
                    overflow: visible;
                }
                .contact-form {
                    margin: auto;
                    @extend %flex;
                    width: 80%;

                    .form {
                        @extend %flex;

                        .contact-input {
                            margin-bottom: 2rem;
                        }
                    }

                    @include media(">tablet") {
                        width: 60%;
                    }
                }
            }
        }

        @import "footer";
        @import "about";
        @import "home";
        @import "header";
        @import "app-hero-section";
    }
}

.vh-100 {
    height: 100vh;
}
